/*-------------------------
    RESET 
-------------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*-------------------------
    COMMONS 
-------------------------*/
.container{
    width: 100%;
    max-width: 1300px;
    margin: auto;
}

:root{
    --green-color: #519981;
}

/*-------------------------
    HEADER TOP
-------------------------*/
header {
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
}

header .header-top{
    background-color: #fefefe;
    height: 1.875rem;
}

header .header-top * {
    color: var(--green-color);
}

header .header-top .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header .header-top .contact-info small{
    margin-right: 1.25rem;
}

header .header-top .right-links a{
    text-decoration: none;
    margin-left: 1.25rem;
}

/*-------------------------
    HEADER BOTTOM
-------------------------*/
header .header-bottom{
    background-color: #343434;
    color: white;
    height: 3.125rem;
}

header .header-bottom .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header .header-bottom .logo{
    display: flex;
    align-items: center;
    width: 15%;
}

header .header-bottom .logo img{
    width: 15%;
    border-radius: 50%;
    margin-right: .3125rem;
}

header .header-bottom .nav-menu{
    width: 30%;
}

header .header-bottom .nav-menu ul{
    list-style: none;
    display: flex;
}

header .header-bottom .nav-menu ul li a{
    text-decoration: none;
    color: white;
    margin: 0 .9375rem;
    display: flex;
    align-items: baseline;
}

header .header-bottom .nav-menu .fa-house{
    margin-right: .625rem;
}

header .header-bottom .nav-menu .fa-chevron-down{
    margin-left: .3125rem;
    font-size: .625rem;
}

header .header-bottom .head-buttons{
    width: 15%;
}

header .header-bottom .head-buttons i{
    margin-left: 1.25rem;
}

/*-------------------------
    MAIN PRODUCTS
-------------------------*/
main .products-section{
    margin-top: 1.875rem;
}

h2, h4{
    color: var(--green-color);
    text-align: center;
}

main .products-section .products-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 1.875rem;
}

main .products-section .products-container .product {
    width: calc(100% / 4);
    margin-bottom: 3.125rem;
}

main .product .product__image{
    position: relative;
    width: 15.625rem;
    height: 18.75rem;
}

main .product .product__image img{
    width: 15.625rem;
    height: 18.75rem;
    object-fit: cover;
    border: .1875rem solid #f9f9f9;
}

main .product .product__image .product__type{
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    background-color: var(--green-color);
    margin: .1875rem 0 0 .1875rem;
    padding: .3125rem .9375rem;
}

main .product .product__image .pet-icon {
    position: absolute;
    bottom: .4375rem;
    right: .4375rem;
}

main .product .product__image .pet-icon img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

main .product .product__info{
    border: .1875rem solid #f9f9f9;
    max-width: 15.625rem;
    padding: .9375rem;
    text-align: center;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

main .product .product__title{
    height: 3.625rem;
    text-transform: uppercase;
}

main .product .product__price{
    color: #e4d97f;
    text-decoration: underline;
}

main .product .product__calories{
    font-weight: bold;
}

/*---------------------------
    BUTTON ANIMATION
---------------------------*/
main .product .add-cart-btn{
    background-color: transparent;
    border: 1px solid var(--green-color);
    padding: 8px 15px;
    /* border-radius: .3125rem; */
    cursor: pointer;
    color: var(--green-color);
    font-weight: bold;
    width: 80%;
    position: relative;
    overflow: hidden;
}

main .product .add-cart-btn span{
    transition: all 0.3s;
}


main .product .add-cart-btn .cart{
    position: absolute;
    left: -80px;
    top: 50%;
    transform: translate(0, -50%);
    color: white;
}

main .product .add-cart-btn::before{
    position: absolute;
    left: -80px;
    top: -2px;
    content: "";
    display: block;
    color: black;
    background-color: var(--green-color);
    width: 50px;
    height: 35px;
    transition: all 0.3s;
}

main .product .add-cart-btn:hover span{
    margin-left: 40px;
}

main .product .add-cart-btn:hover .cart{
    left: 14px;
    transition: all 0.3s;
}

main .product .add-cart-btn:hover::before{
    left: -5px;
}
